
ion-header {
  ion-toolbar {
    .searchbtn {
      margin-right: 15px;

      ion-button {
        border-radius: 100px;
        height: 35px;
        width: 35px;
        background: #BDC4FF;

        ion-icon {
          color: white;
        }
      }
    }
  }
}


.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
  align-items: center;
}

.event-indicator {
  background: var(--ion-color-primary);
  width: 5px;
  height: 5px;
  border-radius: 5px;
  display: table-cell;
}

.calendar {
  height: min-content;
}

:host ::ng-deep {
  .monthview-primary-with-event {
    background-color: white !important;
  }

  .monthview-selected {
    background-color: var(--ion-color-primary) !important;
    color: white;
    border-radius: 10px !important;

    .event-indicator {
      background: var(--ion-color-light);
      width: 5px;
      height: 5px;
      border-radius: 5px;
      display: table-cell;
    }

    .with-event {
      color: rgb(206, 15, 15) !important;
    }
  }

  tr,
  td,
  th {
    border: unset !important;
  }

  .table-bordered {
    border: unset !important;
  }
}

.with-event {
  color: black;
  font-weight: bold;
  border-radius: 15px;
}

.ittl2 {
  margin-top: 15px;
}

.content3 {
  padding: 10px 0px;

  .concept_div {
    margin: 10px 5px;
    border: 3px solid rgb(35, 30, 30);
    border-radius: 10px;

    ion-row {
      ion-col {
        padding: 0px;

        .imgs {
          // border-radius: 10px;
          height: 115px;
          width: 200px;

          .back_image {
            height: 120px;
            width: 120px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-position: top;
            display: flex;
            justify-content: flex-end;

            ion-chip {
              height: 20px;
              font-size: 10px;
            }
          }
        }

        .containt {
          padding: 0px 10px;

          .name {
            color: black;
            margin: 5px 0px;
            font-size: 14px;
            font-family: 'bold';
          }

          ion-chip {
            height: 20px;
            font-size: 10px;
            margin-bottom: 10px;
          }

          .concept {
            display: flex;
            flex-direction: row;
            align-items: center;

            ion-avatar {
              height: 20px;
              width: 20px;
              margin: 0px 5px 0px 0px;
            }

            ion-label {
              font-size: 10px;
              color: var(--ion-color-medium);
            }
          }

          .address {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .icn {
              color: var(--ion-color-primary);
            }

            .kind {
              color: black;
              font-size: 12px;
              display: flex;
              flex-direction: row;
              align-items: center;
              margin: 10px 0px;

              ion-label {
                width: max-content;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .icn {
                color: var(--ion-color-primary);
              }
            }
          }
        }
      }
    }
  }
}


ion-toolbar {
  --background: #f8f9fd;
}
ion-content {
  --background: #f8f9fd;
}

.main_content_div {
  width: 100%;
  padding: 16px;

  .page_title {
    font-family: "semi-bold";
    font-size: 24px;
    margin-bottom: 16px;
  }

  .address_div {
    padding: 16px;
    background: white;
    margin-bottom: 16px;
    position: relative;

    .name_lbl {
      font-family: "medium";
      margin-bottom: 5px;
    }

    .address_flex {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      ion-icon {
        color: #a2aac1;
        font-size: 14px;
        margin-bottom: 3px;
      }

      ion-label {
        font-size: 12.5px;
        color: #a2aac1;
        margin-left: 8px;
      }

      .complete_addr {
        color: black;
        font-size: 14px;
        width: 90%;
      }
    }

    .arrow_icn {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      color: #a2aac1;
    }
  }

  .add_btn {
    background: #eef1f8;
    border-radius: 8px;
    border: 2px dashed #b8bcc6;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-label {
      text-align: center;
      color: #b8bcc6;
      font-size: 15px;
    }
  }
}
