<ion-content class="ion-padding">

  <div class="btn">
    <ion-buttons slot="end">
      <ion-button (click)="onClose()" color="dark">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="main_div">
    <div class="img" [style.backgroundImage]="'url(assets/images/s1.png)'"></div>
    <ion-label class="sub_heading">Digite seu Email para <br> enviarmos um link de troca de senha </ion-label>
    <ion-item lines="none">
      <ion-input type="text" placeholder="Email"></ion-input>
    </ion-item>
    <ion-button class="content_button" (click)="onSubmit()" expand="block">
     Enviar
    </ion-button>
  </div>

</ion-content>

