
ion-tab-bar {
  padding: 10px;
  border-width: 0px;
  --background: white;

  ion-tab-button {
    color: var(--ion-color-dark);

    ion-icon {
      font-size: 20px;
    }
  }

  ion-tab-button[aria-selected="true"] {
    color: var(--ion-color-primary);

    ion-icon {
      font-size: 30px;
    }

    ion-label {
      font-family: 'bold';
    }
  }
}
