<ion-content>
  <div class="img">
    <div class="main_image" [style.backgroundImage]="'url(assets/images/mecanico.jpg)'">

      <ion-buttons slot="start">
        <ion-button (click)="util.openMenu()" color="white">
          <ion-icon slot="start" name="reorder-three-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <div class="searchbar">
        <ion-label class="sub_heading">Selecione uma Opção</ion-label>
      </div>

    </div>
  </div>

  <div class="main_content">

    <ion-row>
      <ion-col size="6" (click)="onClientes()" class="tabs-container">
        <div class="sub_div">
          <div class="teste">
            <div class="imgs" [style.backgroundImage]="'url(assets/svg/adicionar-usuario.svg)'"></div>
            <ion-label>Cadastrar Clientes</ion-label>
          </div>
        </div>
      </ion-col>

      <ion-col size="6" (click)="onServicos()" class="tabs-container">
        <div class="sub_div">
          <div class="teste">
            <div class="imgs" [style.backgroundImage]="'url(assets/svg/construct-outline.svg)'"></div>
            <ion-label>Cadastrar Serviços</ion-label>
          </div>
        </div>
      </ion-col>

    </ion-row>
    
    <ion-row>
      <ion-col size="6" (click)="onAgenda()" class="tabs-container">
        <div class="sub_div">
          <div class="teste">
            <div class="imgs" [style.backgroundImage]="'url(assets/svg/calendar-outline.svg)'"></div>
            <ion-label>Agenda</ion-label>
          </div>
        </div>
      </ion-col>
      
      <ion-col size="6" (click)="onProfile()" class="tabs-container">
        <div class="sub_div">
          <div class="teste">
            <div class="imgs" [style.backgroundImage]="'url(assets/images/q1.png)'"></div>
            <ion-label>Outros</ion-label>
          </div>
        </div>
      </ion-col>
    
    </ion-row>
  </div>


</ion-content>